
{{> navbar }}
<div class= "login">
<form method="post" action="/login" class="form">
    {{> flashGordon }}
    <label for="email">email</label>
    <input class="input" type="email" id="email" name="email" value="test@email.com">
    <label for="password">password</label>
    <input class="input" type="password" id="password" name="password" value="12345">
    <button class="btn">Login</button>
 
</form>

<p>   &ensp; First time visit? in that case, you should  &ensp;<a href="/register">Register</a> 
</p>
</div>