{{> navbar }}
<div class= "login">
<form method="post" action="/login" class="form">
    {{> flashGordon }}
<br>
    <label for="email">email</label>
    <input class="input3" type="email" id="email" name="email" value="test@email.com">
<br>
    <label for="password">password</label>
    <input class="input3" type="password" id="password" name="password" value="12345">
    <br>
    <button class="big-button">Login</button>
    <br>
    <br>
    <br>
    <p>   &ensp; First time visit? in that case, you should  &ensp;<a href="/register">Register</a> 
</p>
</form>
</div>