{{> navbar }}
<div class= "login2">
<form method="post" action="register" class="form">
    {{> flashGordon }}
<br>
    <label for="username">Username</label>
    <input class="input" type="text" id="username" name="username" value="test username">
<br>
    <label for="email">email</label>
    <input class="input" type="email" id="email" name="email" value="test@email.com">
    <br>
    <label for="password">password</label>
    <input class="input" type="password" id="password" name="password" value="12345">
    <br>
    <button class="big-button" type="submit">signup</button>
</form>
</div>