
{{> navbar}}
<form method="post" action="/dashboard/album" class="form" enctype="multipart/form-data">
    <h1  class="title">CREATE AN ALBUM</h1>

    <label for="title" class="label">Title</label>
    <input class="input" type="text" id="name" name="title" value="song title">

      <label for="Date" class="label">ReleaseDate</label>
    <input class="input" type="text" id="name" name="label" value="2020-12-10">

   <label for="artist" class="label">artist</label>
    <input class="input" type="text" id="artist" name="artist   " value="funkmaster jay">

    <label for="cover" class="label">
       Cover
        <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
    </label>
    <input class="is-hidden" type="file" id="cover" name="cover">

    <button class="btn">create</button>
</form>
