
{{> navbar}}
<form method="post" action="/dashboard/artist" class="form" enctype="multipart/form-data">
    <h1  class="title">CREATE AN ARTIST</h1>
    <label for="name" class="label">NAME</label>
    <br>
    <input class="input" type="text" id="name" name="name" value="artist name">
 <br>
    <label for="description" class="label">description</label>
     <br>
    <textarea type="text" class="input" id="description" name="description">test description
    </textarea>
 <br>
      <label for="label" class="label">LABEL</label>
       <br>
    <input class="input" type="text" id="name" name="label" value="test label">
 <br>
       <label for="style" class="label">STYLE</label>
        <br>
    <input class="input" type="text" id="name" name="style" value="test style">
 <br>
    <label for="picture" class="label">
        choose a picture
        <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
    </label>
     <br>
       <br>
    <input class="is-hidden" type="file" id="picture" name="picture">
    <br>
    <br>
    <button class="big-button">create</button>
</form>