
{{> navbar}}
<h1 class="all-album">  <br> &ensp; &ensp;All albums <br>  </h1> 
<div class="card">
    {{#each albums}}
    <div class="every">
<img class="cover2" src="{{cover}}">
        <a class="lol" href="/albums/albums/{{this._id}}"><br>
           &ensp;  {{this.title}}<br>
        </a>
        <br>
       </div>
    {{/each}}
   
</div>
