{{> navbar}}
<h1 class="all-album"> <br> &ensp; &ensp; All artists  <br> </h1>

<div class="cards">
    {{#each artists}}
    <div class="card artist" style="background-image: url({{picture}}">
        <a href="/artists/artists/{{this._id}}">
            {{this.name}}
        </a>
    </div>
    {{/each}}
</div>