{{> navbar}}
<h1 class="all-album"> <br> &ensp; &ensp; All artists  <br> </h1>
 <div class="card">
    {{#each artists}}
    <div class="every">
   <img class="cover3" src="{{picture}}">
        <a class="lol"  href="/artists/artists/{{this._id}}"><br>
           &ensp;  {{this.name}}<br>
        </a>
         <br>
    </div>
    {{/each}}

</div>

