{{> navbar}}
<div class="artist-detail">
    <h1 class="artist-detail-title">artist details</h1>
<h2 class="artist-detail-desc"> {{this.name}} </h2>
<p>{{description}}</p>

<img class="cover-details" src="{{picture}}" alt="{{name}}'s picture">
</div>
