<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="./../public/javascripts/"></script>
</head>

<body>
  <header id="">

  </header>

  {{{body}}}


</body>

</html>