@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

* {
  font-family:'Pathway Gothic One', sans-serif;
  text-decoration: none;
}

body {
  font-family: 'Pathway Gothic One', sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Pathway Gothic One', sans-serif;
}

h2,
h3,
h4 {
   
  /* text-transform: uppercase;
  color: 
  text-decoration: none; */


}

.big-container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  /* border: 1px solid black;  */
  width: 100%;
}

.container {
  width: 90%;
}

.flexed-item {
  color: #111;
  display: flex;
  justify-content: flex-start;

}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
a:hover, a:active {
 color: #89764a;
}
.msg {
  padding: 10px 20px;
}

.msg.error {
  color: #802b31;
  background: #f8d6da;
  box-shadow: -0.3px 0.1px 2.4px 0.1px #802b31;
}

.msg.success {
  color: #216136;
  background: #d4edda;
  box-shadow: -0.3px 0.1px 2.4px 0.1px #216136;
}

.msg.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.header {
  width: 100%;
  
}

.nav-link {
  align-items: center;
  margin-left: auto;
}

.nav-wrapper {
  font-size: 20px ;
  border-bottom: 3px solid rgb(0, 0, 0);
  height: 53px;
  padding: 0 1.2rem;
  background-color: #C5AA6A;
}

.nav-logo {
  margin-right: 3.5rem;
}

h2.logo-item {
  font-size: 2rem;
}

.logo-item {
  display: flex;
  padding-right: 2px;
  margin-top: 15px;

}


.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  /* margin-right: 1.5rem; */
  transition: all 0.2s ease-in;
  transition-property: box-shadow;
  text-decoration: none;
}

.nav-item:last-child {
  margin-right: 0;
  text-decoration: none;
}

/* .nav-item:hover {
  box-shadow: inset 0 -3px 0 0 #111;
  text-decoration: none;
} */

/* .nav-item-admin {
  color: rgb(52, 52, 255);
  transition: all 0.2s ease-in;
  transition-property: box-shadow;
} */

/* .nav-item-admin:hover {
  box-shadow: inset 0 -3px 0 0 rgb(52, 52, 255);
  text-decoration: none;
} */

/* .nav-item a {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
} */

.nav-end {
  align-items: center;
  margin-left: auto;
}

.nav-end-item:first-child {
  margin-right: 1.2rem;
}

.supercont{
  border: 1px solid black;
  color: white;
  /* padding-bottom: 600px; */
  /* background-image: url("./../images/vinyl2.jpg"); */
  background-size: cover;
}




html, body {
  /* width: 100%; */
  height:100%;
}
/* 
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

body{
  background-color: #f3eee1;
}

.head{
  font-size: 20px;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  background-color: #dccca5;
  border: 1px solid black;
}
.body-tab {
  background-color: 
  #e7ddc3;
  
}
.cell-name{
font-size: 20px;
text-transform: uppercase;
font-weight: bold;
font-family: 'Pathway Gothic One', sans-serif;
margin-top: 20px;

}

.cell-desk{
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Pathway Gothic One', sans-serif;
  margin-top: 20px;
}

.cell-label{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Pathway Gothic One', sans-serif;
  margin-top: 20px;
  align-items: center;
}

.cell.update{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Pathway Gothic One', sans-serif;
  margin-top: 20px;
  align-items: center;
}

.table .cell.picture {
  background-size: cover;
  background-repeat: no-repeat;
}

.fas {
  
  font-size: 20px;
}

.preview{
  width: 150px;
}


.cell{
  font-size: 15px;
}

.row{
  font: 15px;
}

.home-body{
  display:flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.cards{
  margin-left: 15%;
}

.cover{
  width: 300px;
  border: 1px solid black;;
}

.cover:hover{
  width: 310px;
  border: 4px solid #9d8854;
}

div.home-body {
background-color: #d6c396;
border: 1px solid black;
}

li {
  display: flex;
  justify-content: center;
  font-size: 30px;
  list-style-type: none; 
}

.icon-profil {
  width: 2%;
}
.icon-profil-2 {
  width: 20px;
}

.album-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
	align-content: space-between;
  text-transform: uppercase;
 
}

.cover-details{
  width: 500px;
  border: 1px solid black;
  box-shadow: 10px 5px 5px 
  #d6c396;
}

p{ font-style: italic;

}

.album-detail-desc {
  font-style: italic;
  font-size: 15px;
}

.login{
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
  
}

.btn{
  background-color: #d6c396 ;
}

.btn:hover{
  background-color: #cab278;
}

.input{
  background-color:#d6c396 ;
}


.cover2{
  width: 200px;
  border: 1px solid black;;
}


.card{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-between;
  
}

.every{
  border: 2px solid black;
  background-color:#d6c396 ;
}

.lol:hover{
color:red;
}

.all-album{
display: flex;
justify-content: center;
align-items: center;
align-content: center;
text-transform: uppercase;
padding-bottom: 30px;
margin-top: 0px;
margin-bottom: 50px;
background-color: #d6c396;
border: 1px solid black;
}

.login2{
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
}




/* .card-artist {
  display:flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid black;
  background-color:#d6c396 ;
} */

/* .cover2 {
  display:flex;
  flex-direction: row;
  justify-content: center;
  
} */

:root {
  /* --backgroundColor:#ede5d2; */
  --colorShadeA: #cab278;
  --colorShadeB: #d0bb87 ;
  --colorShadeC: #d6c396;
  --colorShadeD: #dccca5;
  --colorShadeE: #f9f6f0
  ;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

button.big-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
    color: black;
  font-weight: 300;
  text-transform: uppercase;
  font-family: inherit;
   padding: 1em 2em;
   border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
            transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);
  
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}
.cover3{
  width: 150px;
  border: 1px solid black;;
  box-shadow: 10px 5px 5px #d6c396;
}

.row2 {
  text-transform: uppercase;
}